<!DOCTYPE html>
<html>
  <head>
  <title>jovian careers</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
  <style>
    #careers
    {
      height: 360px;
      object: fit cover;
      width:100%;
      
    }
  </style>
  </head>
  <body>
    <div class="container">
   <h1 class="text-center mt-2 mb-4">jovian careers</h1> 
   <img class="img-fluid" id="careers" src="https://my-college-bound--mushamhari.repl.co/static/careers.jpeg" height="320">
    <h2>About jovian</h2>
    <p>
      “Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.”
      “Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.”
    </p>
    <h2 class="text-center mt-2 mb-4">open positions</h2>
    <p>todo-show the jbos here</p>
    <div class="center">
    <button class="btn btn-primary btn-lg">contact us</button>
      <p class="mt-4">copy right 2022,jovian</p>
    </div>
    </div>
  </body>
</html>